/**
 * Custom vars
 */
 .elementor-widget-woocommerce-cart .woocommerce table.shop_table.cart .actions .button {
	height: auto;
 }
 
// Fixed Elementor Pro Cart Page.
@media screen and (min-width: 1025px) {
    .woocommerce-cart .e-cart__container .cart-collaterals,
    .woocommerce-cart .e-cart__container .woocommerce-cart-form {
        width: 100%;
    }
}

.woocommerce-cart .e-cart__container .cart-collaterals .cart_totals_summary {
    background-color: var(--global-palette9);
    color: var(--global-palette3);
    border-radius: 0px;
    padding: 0px;
}

.elementor-widget-woocommerce-cart .woocommerce .cart_totals table.shop_table_responsive tr td:before,
.elementor-widget-woocommerce-cart .woocommerce-page .cart_totals table.shop_table_responsive tr td:before {
	float:none!important;
}
