$color-primary: #2271b1;
$color-gray-200: #EDF2F7;
$color-gray-300: #D4E0EB;
$color-gray-400: #CBD5E0;
$color-gray-500: #A0AEC0;
$color-gray-600: #718096;
$color-gray-700: #4A5568;
$color-gray-800: #2D3748;
.appearance_page_avanam #wpcontent {
    padding: 0;
    background: #EDF2F7;
}
.base_theme_dash_head {
    background: #EDF2F7;
    padding: 20px;
	height: 50px;
	h1 {
		color: $color-gray-800;
		line-height: 50px;
		padding:0;
		height: 50px;
		margin:0;
		display: flex;
    	align-items: center;
	}
	.subtext {
		font-size: 16px;
		color: $color-gray-600;
		display: inline-block;
		padding-left: 10px;
	}
	.base_theme_dash_head_container {
		margin: 0 auto;
		max-width: 1260px;
		display: flex;
		align-items: center;
	}
	.base_theme_dash_logo{
		width: 50px;
		height: 50px;
		padding-right: 10px;
		img {
			width: 50px;
		}
	}
	.base_theme_dash_version {
		flex-grow: 1;
		text-align: right;
	}
	.base_theme_dash_version span {
		padding: 5px 10px;
		background: #3c434a;
		color: white;
	}
}
.wrap.base_theme_dash {
    margin: 0;
    font-size: 14px;
}
.base_theme_dash_notices {
    margin: 20px;
}
.wrap.base_theme_dash p {
    font-size: 14px;
}
.base_theme_dashboard {
    margin: 0 auto;
    max-width: 1260px;
	padding: 20px;
}
.base_theme_dashboard .button-primary.active,
.base_theme_dashboard .button-primary.active:focus,
.base_theme_dashboard .button-primary.active:hover,
.base_theme_dashboard .button-primary:active,
.base_theme_dashboard .button-primary {
    color: white;
    background: #2271b1;
    text-decoration: none;
    font-size: 16px;
	border-radius: 0;
}

.page-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}
.page-grid .side-panel {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
}

.sidebar-section .components-panel__body.is-opened {
	
	background: white;
	padding: 20px;
	display: flex;
	flex-flow: column nowrap;
	margin-top: 0;
	border: 1px solid #D4E0EB;


}
.support-section h2 {
	margin-bottom: 0;
}
.sidebar-section h2,
.tab-section h2,
.page-grid .components-panel__body h3 {
	color: #3c434a;
}
.sidebar-section h2:first-child, .tab-section h2:first-child {
    margin-top: 0;
}
.side-panel .components-panel {
	background-color: transparent;
	border: none;
	text-align: center;
}
.tab-section.components-panel {
	border:none;
}
.tab-section .components-panel__body.is-opened {
	padding: 25px 40px;
	border: 1px solid #D4E0EB;
}
.tab-section .section-header {
	text-align: center;
}
.base-dashboard-tab-panel {
	.components-tab-panel__tabs {
		.components-button {
			border: 1px solid transparent;
			background: transparent;
			border: none;
			box-shadow: none;
			border-radius: 0;
			cursor: pointer;
			height: 48px;
			padding: 3px 16px;
			margin-left: 0;
			font-weight: 500;
			font-size: 16px;
			color: #3c434a;
			&:hover {
				box-shadow: none !important;
			}
			&:not(.active-tab):hover {
				color: $color-primary !important;
				background: transparent !important;;
			}
		}
		.components-button.active-tab {
			background: white;
			border: 1px solid #D4E0EB;
			border-bottom-color: transparent;
		}
	}
	.components-tab-panel__tabs {
		margin-bottom: -1px;
		padding: 0px;
	}
}
.base_theme_dashboard_panel {
	display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}

.two-col-grid {
	display: grid;
	grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}
h3.section-sub-head {
    background: $color-gray-200;
	padding: 10px;
	color: $color-gray-700;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom:1rem;
	margin-top: 2rem;
}
.link-item {
    border: 1px solid $color-gray-300;
    padding: 20px;
	display: flex;
    flex-flow: column nowrap;
	background: #fafcff;
	text-align: center;
}
.link-item h4 {
	margin: 0;
	font-size: 16px;
	color: #3c434a;
}
.dashboard-pro-settings {
    margin-top: 2rem;
}
.link-item .link-item-foot {
	margin-top: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	.components-spinner {
		margin-top: 0;
	}
	.components-toggle-control .components-base-control__field {
		margin-bottom: 0;
		.components-form-toggle {
			margin-right: 0;
		}
	}
}
.link-item .link-item-foot > *:first-child {
    flex-grow: 2;
}
.link-item:not(.locked-item) a {
	display: block;
	background: transparent;
	color: #2271b1;
	background: white;
	padding: 10px 25px;
	text-decoration: none;
	margin: 7px;
	font-size: 15px;
	border: 1px solid #D4E0EB;
	&:hover {
		color:white;
		background: #2271b1;
		border-color:#2271b1 ;
	}
}
.link-item .components-base-control {
	margin: 7px;
}

span.bst-license-status {
	padding: 4px;
	margin-left: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
span.bst-license-status.bst-inactive {
	color: #c05621!important;
	background: #fffaf0!important;
}
span.bst-license-status.bst-active {
	color: #2b6cb0!important;
	background: #ebf8ff!important;
}
.side-panel .license-section.components-panel {
	text-align: left;
}
.license-section.components-panel {
	border: none;
	background:transparent ;
}
.base_theme_dashboard_more {
	padding: 0px;
	background: none;
	border: none;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 1fr 1fr;
}
.license-section h2 {
	display: flex;
	margin-top: 0;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
}
.license-section .components-panel__body.is-opened {
    padding: 30px;
}
.license-section table.form-table {
    display: block;
	margin-top: 20px;
}
.license-section table.form-table tbody {
    display: block;
}
.license-section table.form-table td, .license-section table.form-table tr {
    display: block;
    padding: 0;
    width: 100%;
}
.license-section .form-table th {
    padding:0;
    width: 100%;
    margin-bottom: 4px;
	display: block;
	color: $color-gray-700;
	font-size: 15px;
}
.license-section p.submit {
    padding: 0;
    margin-top: 10px;
}
.license-section table.form-table input {
    width:100%;
	border-radius: 0;
	border: 1px solid #CBD5E0;
}
.base-desk-help-inner {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}
.base_theme_dashboard_main .base-desk-button {
    margin-top: 30px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 12px;
    background: #2271b1;
    font-size: 17px;
    color: white;
    text-decoration: none;
	transition: all .2s ease;
    border: 2px solid #2271b1;
	height: auto;
}

.base_theme_dashboard_main .base-desk-button:hover {
	background: #3c434a;
	border-color: #3c434a;
}
.base_theme_dashboard_main .base-desk-button.base-desk-button-second {
    margin-left: 30px;
    border: 2px solid #2271b1;
    color: #2271b1;
    background: transparent;
}
.base_theme_dashboard_main .base-desk-button.base-desk-button-second:hover {
    border: 2px solid#3c434a;
    color: #3c434a;
    background: transparent;
}
.base_theme_dashboard_main .base-desk-button .components-spinner {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 0 -2px 10px;
}
.base-desk-help-inner h2, .base-desk-starter-inner h2 {
    font-size: 24px;
}
.base-desk-starter-inner p {
	max-width: 600px;
	margin: 1em auto;
}
.base-desk-help-inner .video-container {
    margin-top: 2em;
}
.changelog-version {
    padding: 2em;
    margin-bottom: 2em;
    border: 1px solid #D4E0EB;
    font-size: 14px;
    line-height: 1.8;
}
.dashboard-pro-settings .link-item.locked-item {
	background: #fafcff;
	position: relative;
}
.link-item.locked-item .lock-icon svg {
    width: 100%;
    height: auto;
    fill: #acb4bf;
}
.link-item.locked-item .lock-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
}
.base-desk-help-inner .video-container img {
    max-width: 100%;
    height: auto;
}
